{% extends './base.html' %}
{% block head %}
<style>
    .card-header {
    color: #0738C1;
    font-family: 'Bebas Neue', sans-serif;
    }

    .btn-outline-primary {
        color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.6);
    }

    .list-group-item:hover {
        text-decoration: none;
        color: white;
        background-color: #0738C1;
    }

</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Add Exercise</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'add_exercise' %}" method="post">
                        {% csrf_token %}
                        {% if message_type == 'success' %}
                            <div class="alert alert-success p-2" role="alert">
                                Exercise recorded!
                            </div>
                        {% elif message_type == 'exception' %}
                            {% if message %}
                                <div class="alert alert-danger p-2" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-danger p-2" role="alert">
                                    Invalid submission. Try again.
                                </div>
                            {% endif %}
                        {% endif %}
						<!-- Date -->
                        <div class="mb-3">
                            <label for="date"><b>When</b></label>
                            <input type="date" class="form-control" id="date" name="date" required />
                        </div>
                        
						<!-- Exercise Type Radio Buttons Grid -->
						<div class="mb-3">
							<label for="exercise_type"><b>Exercise Type</b></label><br>				
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">
								<input type="radio" class="btn-check" name="exercise_type" value='weight_reps' id="is_weight_reps" autocomplete="off" required>
								<label class="btn btn-outline-primary btn-sm" for="is_weight_reps">Weight & Reps</label>
							
								<input type="radio" class="btn-check" name="exercise_type" value='amrap' id="is_amrap" autocomplete="off"/>
								<label class="btn btn-outline-primary btn-sm" for="is_amrap">AMRAP</label>
															
								<input type="radio" class="btn-check" name="exercise_type" value='emom' id="is_emom" autocomplete="off"/>
								<label class="btn btn-outline-primary btn-sm" for="is_emom">EMOM</label>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">						
						
								<input type="radio" class="btn-check" name="exercise_type" value='rft' id="is_rft" autocomplete="off"/>
								<label class="btn btn-outline-primary btn-sm" for="is_rft">Rounds for Time</label>
							
								<input type="radio" class="btn-check" name="exercise_type" value='hero' id="is_hero" autocomplete="off"/>
								<label class="btn btn-outline-primary btn-sm" for="is_hero">Hero WOD</label>

								<input type="radio" class="btn-check" name="exercise_type" value='cardio' id="is_cardio" autocomplete="off"/>
								<label class="btn btn-outline-primary btn-sm" for="is_cardio">Cardio</label>
							</div>
						</div>

                        <!-- Input for WEIGHTLIFTING exercise Type Radio Buttons Grid -->
                        <div id='weightlifting_input'>
                            <div class="mb-3">
                                <label for="exercise"><b>Exercise</b></label>
                                <input type="text" class="form-control" id="exercise" placeholder="" autocomplete="off">
                                <div class="list-group" id="exercise_list"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="weight"><b>Weight</b></label>
                                    <input type="number" class="form-control" id="weight" name="weight" step="any" min="0" autocomplete="off"/>
                                </div>
                                <div class="col">
                                    <label for="n_reps"><b>Reps</b></label>
                                    <input type="number" class="form-control" id="n_reps" name="n_reps" step="1" min="1" autocomplete="off"/>
                                </div>
                                <div class="col">
                                    <label for="n_sets"><b>Sets</b></label>
                                    <input type="number" class="form-control" id="n_sets" name="n_sets" step="1" value="1" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" name="is_after_wod">
                                <label class="form-check-label" for="is_after_wod"><b>Done after WOD?</b></label>
                            </div>
                        </div>

                        <!-- Input for EMOM  ######################-->
                        <div id='emom_input' style="display: none;">
                            <div class="mb-3">
                                <label for="emom_duration"><b>Duration</b></label>
                                <input type="number" class="form-control" name="emom_duration" step="1" min="1" autocomplete="off"/>
                            </div>
                            <div class="mb-3">
                                <label for="emom_wod"><b>WOD</b></label>
                                <textarea class="form-control" name="emom_wod" rows="3" placeholder="Describe WOD..." autocomplete="off"></textarea>
                            </div>
                        </div>

                        <!-- Input for AMRAP  ######################-->
                        <div id='amrap_input' style="display: none;">
                            <div class="mb-3">
                                <label for="amrap_timecap"><b>Timecap</b></label>
                                <input type="number" class="form-control" name="amrap_timecap" step="1" min="1" autocomplete="off"/>
                            </div>
                            <div class="mb-3">
                                <label for="amrap_wod"><b>WOD</b></label>
                                <textarea class="form-control" name="amrap_wod" rows="3" placeholder="Describe WOD..." autocomplete="off"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="amrap_score"><b>Rounds and Reps</b></label>
                                <input type="text" class="form-control" name="amrap_score" id="amrap_score" rows="3" autocomplete="off" placeholder="Rounds plus reps in the format 3+10">
                                <div id="amrap_score_error" style="color: red; display: none;">Invalid AMRAP score format. Must be in the format: [Rounds]+[Reps]</div>
                            </div>
                        </div>

                        <!-- Input for RFT  ######################-->
                        <div id='rft_input' style="display: none;">
                            <div class="mb-3">
                                <label for="rft_rounds"><b>Rounds</b></label>
                                <input type="number" class="form-control" name="rft_rounds" step="1" min="1" autocomplete="off"/>
                            </div>
                            <div class="mb-3">
                                <label for="rft_wod"><b>WOD</b></label>
                                <textarea class="form-control" name="rft_wod" rows="3" placeholder="Describe WOD..." autocomplete="off" ></textarea>
                            </div>
                            <div class="mb-3">
                                <label><b>Time</b></label>
                                <div class="row">
                                    <div class="col">
                                        <label for="rft_minutes">Minutes</label>
                                        <input type="number" class="form-control" name="rft_minutes" step="1" min="0" max="59" autocomplete="off"/>
                                    </div>
                                    <div class="col">
                                        <label for="rft_seconds">Seconds</label>
                                        <input type="number" class="form-control" name="rft_seconds" step="1" min="0" max="59" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Input for CARDIO  ######################-->
                        <div id='cardio_input' style="display: none;">
                            <div class="mb-3">
                                <label for="cardio_activity"><b>Activity</b></label>
                                <input type="text" class="form-control" name="cardio_activity" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="cardio_distance"><b>Distance</b> (km.)</label>
                                <input type="number" class="form-control" name="cardio_distance" step="" autocomplete="off"/>
                            </div>
                            <div class="mb-3">
                                <label><b>Time</b></label>
                                <div class="row">
                                    <div class="col">
                                        <label for="cardio_minutes">Minutes</label>
                                        <input type="number" class="form-control" name="cardio_minutes" step="1" min="0" autocomplete="off"/>
                                    </div>
                                    <div class="col">
                                        <label for="cardio_seconds">Seconds</label>
                                        <input type="number" class="form-control" name="cardio_seconds" step="1" min="0" max="59" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Input for HERO  ######################-->
                        <div id='hero_input' style="display: none;">
                            <div class="mb-3">
                                <label for="hero_name"><b>Hero WOD</b></label>
                                <input type="text" class="form-control" name="hero_name" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label><b>Time</b></label>
                                <div class="row">
                                    <div class="col">
                                        <label for="hero_minutes">Minutes</label>
                                        <input type="number" class="form-control" name="hero_minutes" step="1" min="0" autocomplete="off"/>
                                    </div>
                                    <div class="col">
                                        <label for="hero_seconds">Seconds</label>
                                        <input type="number" class="form-control" name="hero_seconds" step="1" min="0" max="59" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="activity_comments"><b>Comments</b></label>
                            <textarea class="form-control" name="activity_comments" rows="1" autocomplete="off"></textarea>
                        </div>
                        <div id="validator" class="form-text mb-2" style="color: red;"></div>
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #0738C1; border: none;">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    var currentDate = new Date().toISOString().split('T')[0];
    document.getElementById("date").value = currentDate;
});
  
  document.addEventListener("DOMContentLoaded", function () {
  
    var weight = document.getElementById("weight");
    var messageBox = document.getElementById("validator");
  
      function validate_weight() {
        if (weight.value < 0) {
            messageBox.innerHTML = "Weight value cannot be negative";
        } else {
        messageBox.innerHTML = "";
        }
    }
    weight.addEventListener("keyup", validate_weight);
});
  
  document.addEventListener("DOMContentLoaded", function () {
  
    var reps = document.getElementById("n_reps");
    var messageBox = document.getElementById("validator");
  
    function validate_weight() {
      if (reps.value < 1) {
        messageBox.innerHTML = "Reps must be >= 1.";
      } else {
        messageBox.innerHTML = "";
      }
    }
    reps.addEventListener("keyup", validate_weight);
});
  
  document.addEventListener("DOMContentLoaded", function () {
  
    var sets = document.getElementById("n_sets");
    var messageBox = document.getElementById("validator");
  
    function validate_weight() {
      if (sets.value < 1) {
          messageBox.innerHTML = "Sets must be >= 1.";
      } else {
        messageBox.innerHTML = "";
      }
    }
    sets.addEventListener("keyup", validate_weight);
});
  
document.addEventListener("DOMContentLoaded", function () {

var b1 = document.getElementsByName("exercise_type");
for (var i = 0; i < b1.length; i++) {
    b1[i].addEventListener('change', function() {

        for (var j = 0; j < b1.length; j++) {
            b1[j].nextElementSibling.style.backgroundColor = "";
            b1[j].nextElementSibling.style.borderColor = "";
        }
        
        if (this.checked) {
            this.nextElementSibling.style.backgroundColor = "#0738C1";
            this.nextElementSibling.style.borderColor = "#0738C1";
        }
    });
}
});
  
  document.addEventListener("DOMContentLoaded", function () {
  
      const amrapScoreInput = document.getElementById("amrap_score");
      const amrapScoreError = document.getElementById("amrap_score_error");
  
      amrapScoreInput.addEventListener("input", function() {
          const inputValue = amrapScoreInput.value.trim();
          const regex = /^[0-9]+\+*[0-9]*$/;
  
          if (inputValue.length > 0 && !regex.test(inputValue)) {
              amrapScoreError.style.display = "block";
          } else {
              amrapScoreError.style.display = "none";
          }
      });
  });
  
  
document.addEventListener("DOMContentLoaded", function () {

    const radioButtons = document.querySelectorAll('input[name="exercise_type"]');
    const weightliftingInput = document.getElementById("weightlifting_input");
    const emomInput = document.getElementById("emom_input");
    const amrapInput = document.getElementById("amrap_input");
    const rftInput = document.getElementById("rft_input");
    const cardioInput = document.getElementById("cardio_input");
    const heroInput = document.getElementById("hero_input");

    radioButtons.forEach(function(radioButton) {
        radioButton.addEventListener("change", function() {

            if (this.value === "weight_reps" && this.checked) {

                weightliftingInput.style.display = "block";
                emomInput.style.display = "none";
                amrapInput.style.display = "none";
                rftInput.style.display = "none";
                cardioInput.style.display = "none";
                heroInput.style.display = "none";

            } else if (this.value === "emom" && this.checked) {

                emomInput.style.display = "block";
                weightliftingInput.style.display = "none";
                amrapInput.style.display = "none";
                rftInput.style.display = "none";
                cardioInput.style.display = "none";
                heroInput.style.display = "none";

            } else if (this.value === "amrap" && this.checked) {

                emomInput.style.display = "none";
                weightliftingInput.style.display = "none";
                amrapInput.style.display = "block";
                rftInput.style.display = "none";
                cardioInput.style.display = "none";
                heroInput.style.display = "none";

            } else if (this.value === "rft" && this.checked) {

                emomInput.style.display = "none";
                weightliftingInput.style.display = "none";
                amrapInput.style.display = "none";
                rftInput.style.display = "block";
                cardioInput.style.display = "none";
                heroInput.style.display = "none";

            } else if (this.value === "cardio" && this.checked) {

                emomInput.style.display = "none";
                weightliftingInput.style.display = "none";
                amrapInput.style.display = "none";
                rftInput.style.display = "none";
                cardioInput.style.display = "block";
                heroInput.style.display = "none";

            } else if (this.value === "hero" && this.checked) {

            emomInput.style.display = "none";
            weightliftingInput.style.display = "none";
            amrapInput.style.display = "none";
            rftInput.style.display = "none";
            cardioInput.style.display = "none";
            heroInput.style.display = "block";

            } else {

                weightliftingInput.style.display = "none";
                emomInput.style.display = "none";
                amrapInput.style.display = "none";
                rftInput.style.display = "none";
                cardioInput.style.display = "none";
            }
        });
    });
});

document.addEventListener("DOMContentLoaded", function () {
    let availableExercises = [
        'Bench Press',
        'Deadlift',
        'pull-ups',
        'barbell row',
        'barbell ski',
        'barbell curls'
    ];

    var exercise_input_box = document.getElementById('exercise')

    exercise_input_box.onkeyup = function(){
        let result = [];
        let input = exercise_input_box.value;
        const exercise_list = document.getElementById("exercise_list");

        if (input.length){
            result  = availableExercises.filter((keyword)=>{
                return keyword.toLowerCase().includes(input.toLowerCase());
            });

            console.log(display(result));
            exercise_list.innerHTML = display(result);
        } else {
            exercise_list.innerHTML = '';
        }
    };

    function display(result){
        const content = result.map((option)=>{
            return '<a class="list-group-item" onclick=selectInput(this)>' + option + '</a>';
        }).join('');
        return content
    };

    function selectInput(option){
        exercise_input_box.value = option.innerHTML;
        exercise_list.innerHTML = '';
    };

});


</script>
{% endblock %}
