{% extends './base.html' %}
{% block head %}
<style>
    .card-header {
    color: #0738C1;
    font-family: 'Bebas Neue', sans-serif;
    }

    .btn-outline-primary {
        color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.6);
    }

</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Add Exercise</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'add_exercise' %}" method="post">
                        {% csrf_token %}

						<!-- Date -->
                        <div class="mb-3">
                            <label for="date"><b>When</b></label>
                            <input type="date" class="form-control" id="date" name="date" required />
                        </div>
                        
						<!-- Exercise Type Radio Buttons Grid -->
						<div class="mb-3">
							<label for="exercise_type"><b>Exercise Type</b></label><br>				
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">
								<input type="radio" class="btn-check" name="exercise_type" value='weight_reps' id="is_weight_reps" autocomplete="off">
								<label class="btn btn-outline-primary btn-sm" for="is_weight_reps">Weight & Reps</label>
							
								<input type="radio" class="btn-check" name="exercise_type" value='amrap' id="is_amrap" autocomplete="off">
								<label class="btn btn-outline-primary btn-sm" for="is_amrap">AMRAP</label>
															
								<input type="radio" class="btn-check" name="exercise_type" value='emom' id="is_emom" autocomplete="off">
								<label class="btn btn-outline-primary btn-sm" for="is_emom">EMOM</label>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">						
						
								<input type="radio" class="btn-check" name="exercise_type" value='rft' id="is_rft" autocomplete="off">
								<label class="btn btn-outline-primary btn-sm" for="is_rft">Rounds for Time</label>
							
								<input type="radio" class="btn-check" name="exercise_type" value='hero' id="is_hero" autocomplete="off">
								<label class="btn btn-outline-primary btn-sm" for="is_hero">Hero WOD</label>

								<input type="radio" class="btn-check" name="exercise_type" value='cardio' id="is_cardio" autocomplete="off">
								<label class="btn btn-outline-primary btn-sm" for="is_cardio">Cardio</label>
							</div>
						</div>

                        <!-- Input for WEIGHTLIFTING exercise Type Radio Buttons Grid -->
                        <div id='weightlifting_input'>
                            <div class="mb-3">
                                <label for="exercise"><b>Exercise</b></label>
                                <select class="form-select" id='exercise_select' name="exercise">
                                    {% for exercise in exercises %}
                                    <option value="{{ exercise }}">{{exercise |title }}</option>
                                    {% endfor %}
                                    <option value="add_your_own"><b>------- Add your own -------</b></option>
                                </select>
                                <div class="d-flex justify-content-end">
                                    <p class="small text-muted"><em>Scroll to bottom to add your own</em></p>
                                </div>
                                <!-- Add your Own -->
                                <div id="add_your_own" style="display: none;">
                                    <div class="mb-3">
                                        <label for="new_exercise"><b>New Exercise</b></label>
                                        <input type="text" class="form-control" id="new_exercise" name="new_exercise">
                                    </div>
                                    <div class="mb-3">
                                        <label for="category"><b>Category</b></label>
                                        <select class="form-select" id="category" name="category">
                                            <option value="category1">Category 1</option>
                                            <option value="category2">Category 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="weight"><b>Weight</b></label>
                                    <input type="number" class="form-control" id="weight" name="weight" step="any" min="0" required/>
                                </div>
                                <div class="col">
                                    <label for="n_reps"><b>Reps</b></label>
                                    <input type="number" class="form-control" id="n_reps" name="n_reps" step="1" min="1" required/>
                                </div>
                                <div class="col">
                                    <label for="n_sets"><b>Sets</b></label>
                                    <input type="number" class="form-control" id="n_sets" name="n_sets" step="1" value="1" required />
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"><b>Done after WOD?</b></label>
                            </div>
                        </div>

                        <!-- Input for EMOM exercise Type Radio Buttons Grid -->
                        <div id='emom_input' style="display: none;">
                            <div class="mb-3">
                                <label for="emom_duration"><b>Duration</b></label>
                                <input type="number" class="form-control" name="emom_duration" step="any" min="0" required/>
                            </div>
                            <div class="mb-3">
                                <label for="emom_wod"><b>WOD</b></label>
                                <textarea class="form-control" name="emom_wod" rows="3" placeholder="Describe WOD..."></textarea>
                            </div>
                        </div>

                        <!-- Input for AMRAP exercise Type Radio Buttons Grid -->
                        <div id='amrap_input' style="display: none;">
                            <div class="mb-3">
                                <label for="amrap_timecap"><b>Timecap</b></label>
                                <input type="number" class="form-control" name="amrap_timecap" step="any" min="0" required/>
                            </div>
                            <div class="mb-3">
                                <label for="amrap_wod"><b>WOD</b></label>
                                <textarea class="form-control" name="amrap_wod" rows="3" placeholder="Describe WOD..."></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="amrap_score"><b>Rounds and Reps</b></label>
                                <input type="text" class="form-control" name="amrap_score" id="amrap_score" rows="3" placeholder="Rounds plus reps in the format 3+10">
                                <div id="amrap_score_error" style="color: red; display: none;">Invalid AMRAP score format. Must be in the format: [Rounds]+[Reps]</div>
                            </div>
                        </div>



                        <div class="mb-3">
                            <label for="activity_comments"><b>Comments</b></label>
                            <textarea class="form-control" id="activity_comments" rows="1"></textarea>
                        </div>
                        <div id="validator" class="form-text mb-2" style="color: red;"></div>
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #0738C1; border: none;">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {

  var currentDate = new Date().toISOString().split('T')[0];
  document.getElementById("date").value = currentDate;
});

document.addEventListener("DOMContentLoaded", function () {

  var weight = document.getElementById("weight");
  var messageBox = document.getElementById("validator");

    function validate_weight() {
      if (weight.value < 0) {
          messageBox.innerHTML = "Weight value cannot be negative";
      } else {
      messageBox.innerHTML = "";
      }
  }
  weight.addEventListener("keyup", validate_weight);
});

document.addEventListener("DOMContentLoaded", function () {

  var reps = document.getElementById("n_reps");
  var messageBox = document.getElementById("validator");

  function validate_weight() {
    if (reps.value < 1) {
      messageBox.innerHTML = "Reps must be >= 1.";
    } else {
      messageBox.innerHTML = "";
    }
  }
  reps.addEventListener("keyup", validate_weight);
});

document.addEventListener("DOMContentLoaded", function () {

  var sets = document.getElementById("n_sets");
  var messageBox = document.getElementById("validator");

  function validate_weight() {
    if (sets.value < 1) {
        messageBox.innerHTML = "Sets must be >= 1.";
    } else {
      messageBox.innerHTML = "";
    }
  }
  sets.addEventListener("keyup", validate_weight);
});

document.addEventListener("DOMContentLoaded", function () {

	var b1 = document.getElementsByName("exercise_type");
    for (var i = 0; i < b1.length; i++) {
        b1[i].addEventListener('change', function() {
            // Reset color for all buttons
            for (var j = 0; j < b1.length; j++) {
                b1[j].nextElementSibling.style.backgroundColor = "";
                b1[j].nextElementSibling.style.borderColor = "";
            }
            
            // Change color for the clicked button
            if (this.checked) {
                this.nextElementSibling.style.backgroundColor = "#0738C1";
                this.nextElementSibling.style.borderColor = "#0738C1";
            }
        });
    }
});

document.addEventListener("DOMContentLoaded", function () {

    const amrapScoreInput = document.getElementById("amrap_score");
    const amrapScoreError = document.getElementById("amrap_score_error");

    amrapScoreInput.addEventListener("input", function() {
        const inputValue = amrapScoreInput.value.trim();
        const regex = /^[0-9]+\+*[0-9]*$/;

        if (!regex.test(inputValue)) {
            amrapScoreError.style.display = "block";
        } else {
            amrapScoreError.style.display = "none";
        }
    });
});


document.addEventListener("DOMContentLoaded", function () {

    const radioButtons = document.querySelectorAll('input[name="exercise_type"]');
    const weightliftingInput = document.getElementById("weightlifting_input");
    const emomInput = document.getElementById("emom_input");
    const amrapInput = document.getElementById("amrap_input");


    radioButtons.forEach(function(radioButton) {
        radioButton.addEventListener("change", function() {

            if (this.value === "weight_reps" && this.checked) {

                weightliftingInput.style.display = "block";
                emomInput.style.display = "none";
                amrapInput.style.display = "none";

            } else if (this.value === "emom" && this.checked) {

                emomInput.style.display = "block";
                weightliftingInput.style.display = "none";
                amrapInput.style.display = "none";

            } else if (this.value === "amrap" && this.checked) {

                emomInput.style.display = "none";
                weightliftingInput.style.display = "none";
                amrapInput.style.display = "block";

            }
             else {

                weightliftingInput.style.display = "none";
                emomInput.style.display = "none";
                amrapInput.style.display = "none";
            }
        });
    });


});

</script>
{% endblock %}

